@model List<SystemKontroliFirmySpedycyjnej.Areas.TransportCompany.Model.EmployeeSection>
@{
    ViewBag.Title = "EmployeeSection";
}

<head>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/jqplot")
</head>
<style>
    .main{
        position:absolute;
        left:38%;
        top:15%;
        width:400px;
        border: 2px solid #1be235;
        background-color:#e8d859;
        margin-top:2px;
        margin-bottom:4px;
    }
    .main-frame{
        border: 2px solid red;
        text-align:center;
        font-weight:bold;
        font-size:16px;
        margin-top:2px;
        margin-bottom:2px;
        background-color:#9595e5
    }
    .elemnts{
        margin-top:1px;
        margin-bottom:1px;
        margin-left:4px;
    }
    .text-info {
        position: absolute;
        left: 20px;
        top: 20px;
        color: #178fe5;
        font-size: 24px;
        font-weight: bold;
    }
</style>
<div class="text-info">@ViewData["data"]</div>
<div class="main">
    @foreach (var item in Model)
    {
        <div class="main-frame">
            @item.SectionName
        </div>
        if (item.listEmp != null)
        {
            foreach (var item2 in item.listEmp)
            {
                if (item.secId == item2.id.Value)
                {
                    <div class="elemnts">
                        @item2.Name
                        @item2.Surname
                    </div>
                }
            }
        }
    }
</div>

