<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/themes/base/css")
</head>
<body background="~/Areas/TransportCompany/Images/car.png">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .menu-box {
            position: absolute;
            width: 200px;
            height: 380px;
            margin-top: 100px;
            background-color: rgb(255,235,205);
            overflow: hidden;
            z-index: 1;
        }

        .button-style {
            padding: 22px 85px;
            font-size: 16px;
            background-color: #0094ff;
            border: 3px solid #4CAF50;
            width:85px;
        }

        .position-button {
            margin-top: 15px;
            margin-left: 10px;
            margin-right: 10px;
            margin-bottom: 15px;
        }
    </style>
    <div class="menu-box">
        <strong>Menu</strong>
        <div class="position-button">
            <button class="button-style" onclick="location.href='@Url.Action("MainWindow", "MainWindow", new { area = "TransportCompany" })'"><span style="margin-left:-20px;">Home</span></button>
        </div>
        <div class="position-button">
            <button class="button-style" onclick="location.href='@Url.Action("CompanyCars", "Cars", new { area = "TransportCompany" })'"><span style="margin-left:-20px;">Cars</span></button>
        </div>
        <div class="position-button">
            <button class="button-style" onclick="location.href='@Url.Action("EmployeeInfo", "Employee", new { area = "TransportCompany" })'"><span style="margin-left:-34px;">Employee</span></button>
        </div>
        <div class="position-button">
            <button class="button-style" onclick="location.href='@Url.Action("EmployeeSection", "EmployeeSection", new { area = "TransportCompany" })'"><div><span style="margin-left:-44px;">Company</span></div><div><span style="margin-left:-54px;">departaments</span></div></button>
        </div>
    </div>
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqgrid")
    @Scripts.Render("~/bundles/jqplot")
    @RenderSection("scripts", required: false)
</body>
</html>